{% extends 'app/base.html' %}

{% block content %}

<div class='container'>
    <div class='row'>
        <div class='col-md-9'>
            <div class="account-info">
                <h1>Hello <mark class="purple">{{ user.account.name }}</mark> </h1>
                <p>Token balance: <strong>{{ user.account.balance }}</strong></p>
                <p>Email: <strong>{{ user.email }}</strong></p>
            </div>

            <h1>My jobs</h1>

            {% for job in my_jobs %}
            <div class="job">
                <h3 style="color:#1de9b6">{{ job.title }}</h3>
                <p>

                    <strong>Job description: </strong>{{ job.description }}
                    <br>
                    <strong>Source language:</strong> {{ job.source_lang }}
                    <br>
                    <strong>Target language:</strong> {{ job.target_lang }}
                </p>
                <strong>Job field: </strong>{{ job.field }}
                <br>
                <strong>Job budget: </strong>{{ job.budget }}
                <br>
                <strong>Job status: </strong>{{ job.status }}

                <div>
                    {% for bid in job.bid_set.all %}
                    <div class='bid'>
                        <h2>
                            <a href="{% url 'accounts:profile' bid.bidder.id %}">
                                Bidder: {{ bid.bidder.account.name }}
                            </a>
                        </h2>
                        <strong>Price: </strong> {{ bid.price }}
                        <p><strong>Bid status: </strong>{% if bid.accepted %}
                            Accepted.
                            {% elif not bid.accepted and job.is_available %}
                            <!--check models.py for the is_available method-->
                            Not accepted.
                        <p>
                        <form action="{% url 'app:accept_bid' bid.id %}" method="post">
                            {% csrf_token %}
                            <input class="btn btn-primary d-inline-flex flex-row align-items-center" type="submit"
                                value="Accept bid">
                        </form>
                        </p>
                        {% endif %}
                        </p>
                    </div>
                    {% empty %}
                    <br>
                    <p style="color:#1de9b6">No bids on this job yet.</p>
                    {% endfor %}
                </div>
                {% if job.status == 'completed' %}
                <div class="translation_options">
                    <button class="btn btn-primary d-inline-flex flex-row align-items-center">
                        <a href="{% url 'app:translated_job' job.id%}">View translation</a>
                    </button>
                    {% if job.rating %}
                    <button class="btn btn-primary d-inline-flex flex-row align-items-center">
                        <a href="{% url 'app:review' job.id %}">Review the translation</a>
                    </button>
                    {% else %}
                    {% endif %}
                </div>
                {% endif %}
            </div>
            {% endfor %}

        </div>

        <div class="col-md-3">
            <h1>Messages</h1>
            <div class="messages">
                {% for message in my_messages %}
                <div class="message {% if user == message.sender %} my_message {% else %} their_message {% endif %}">
                    {% if user != message.sender %}
                    <strong>From:
                        <a href="{% url 'accounts:profile' message.sender.id %}">
                            {{ message.sender.account.name }}
                        </a>
                    </strong>
                    {% endif %}
                    <small>{{ message.sent_at }}</small>
                    <p>{{ message.text }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}