{% extends 'app/base.html' %}

{% block content %}

<div class='container'>
    <div class='row'>
        <div class='col-md-12'>
            <h1>{{ profile_user.account.name }}</h1>
            <p>Email: <strong>{{ user.email }}</strong></p>
            <p>Average rating: {{ user.account.get_average_rating }}</p>
        </div>
    </div>
    <h2 style="text-align:center;">Job informations</h2>
    <div class='row'>
        <div class="col-md-12">
            <h1 style="color:#443a84">Accepted jobs</mark></h1>

            {% for job in accepted_jobs %}
            <div class="job">
                <h3 style="color:#1de9b6">{{ job.title }}</h3>
                <p>

                    <strong>Job description: </strong>{{ job.description }}
                    <br>
                    <strong>Source language:</strong> {{ job.source_lang }}
                    <br>
                    <strong>Target language:</strong> {{ job.target_lang }}
                </p>
                <strong>Job field: </strong>{{ job.field }}
                <br>
                <strong>Job budget: </strong>{{ job.budget }}
                <br>
                <strong>Job status: </strong>{{ job.status }}
                <p>
                    <br>
                    <strong>
                        {{ job.accepted_bidder.name }} was accepted for this job wit the bid
                        of {{ job.accepted_bid.price }}
                    </strong>
                </p>
            </div>
            {% empty %}
            <p>No accepted jobs</p>
            {% endfor %}

        </div>

        <div class="col-md-12">

            <h1 style="color:#443a84">Completed jobs</mark></h1>

            {% for job in completed_jobs %}
            <div class="job">
                <h3>{{ job.title }}</h3>
                <p>
                    <strong>{{ job.description }}</strong> <br>
                    Source language: {{ job.source_lang }}
                    Target language: {{ job.target_lang }}
                </p>
                <p>{{ job.field }}</p>
                <p>{{ job.budget }}</p>
                <p>{{ job.status }}</p>

                <p>
                    <strong>
                        {{ job.accepted_bidder.name }} has completed this job for the price
                        of {{ job.accepted_bid.price }}
                    </strong>
                </p>

                {% if user == job.user %}
                {% if job.has_open_dispute %}
                <p>This job has an open dispute on it.</p>
                {% elif job.has_closed_dispute %}
                <p>This dispute has been resloved and closed.</p>
                {% else %}
                <p>
                    <button class="btn btn-primary d-inline-flex flex-row align-items-center">
                        <a href="{% url 'app:dispute' job.id %}">Raise a dispute</a>
                    </button>
                </p>
                {% endif %}
                {% endif %}
            </div>
            {% empty %}
            <p>No completed jobs</p>
            {% endfor %}
        </div>

        {% if user.account.translator %}
        <div class="col-md-12">
            <h2 style="text-align:center;">Translator informations</h2>
            <h1 style="color:#443a84">User's bids</h1>
            {% for bid in bids %}
            <div class="job">
                <h4>Bid on {{ bid.job.title }} for {{ bid.price }} tokens</h4>
                {% if bid.accepted %}
                <p>You have won the job!</p>
                {% else %}
                <p>Other translator has won the job.</p>
                {% endif %}
            </div>
            {% empty %}
            <p>No bids on any jobs</p>
            {% endfor %}
        </div>

        <div class="col-md-12">
            <h1 style="color:#443a84">Currently working on</h1>
            {% for bid in won %}

            <div class="job">
                <h4>{{ bid.job.title }} for {{ bid.price }} tokens</h4>
                <p>Translating from:
                    {{ bid.job.get_source_lang_display }} to
                    {{ bid.job.get_target_lang_display }} in the field of
                    {{ bid.job.field }} .
                </p>
                <p>Job was posted by <a href="{% url 'accounts:profile' bid.job.user.id %}">
                        {{ bid.job.user.account.name }}</a></p>
                {% if not bid.job.translation and user == bid.bidder %}
                <button class="btn btn-primary d-inline-flex flex-row align-items-center">
                    <a href="{% url 'app:complete_job' bid.job.id %}">Submit translation</a>
                </button>
                {% endif %}
            </div>
            {% empty %}
            <p>This user did not win any bids.</p>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

{% endblock content %}