{% extends 'app/base.html' %}
{% block content %}

<div class="login-page">
        <h1 class="register" style="text-align:center;">Welcome back.</h1>
        <form class="login-form" method="post">
                {% csrf_token %}
                <!-- {{ form.as_p }} -->
                {% if message %}
                        <div class="job">
                        {{ message }}
                        </div>
                {% endif %}
                <p>
                        <label>Username</label>
                        <br>
                        <input type="text" name="username" />
                </p>

                <p>
                        <label>Password</label>
                        <br>
                        <input type="password" name="password" />
                </p>
                <input class="btn btn-primary d-inline-flex flex-row align-items-center" type="submit" value="Login">
        </form>
</div>

{% endblock %}