{% extends 'app/base.html' %}
{% block content %}

<div class="register-page">
    <h1 class="register">Make an account below.</h1>

    <form method="post">
        {% csrf_token %}
        {% if message %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endif %}
        <p>
            <label>Name</label>
            <br>
            <input type="text" name="name" />
        </p>

        <p>
            <label>Username</label>
            <br>
            <input type="text" name="username" />
        </p>

        <p>
            <label>Email</label>
            <br>
            <input type="text" name="email" />
        </p>

        <p>
            <label>Password</label>
            <br>
            <input type="password" name="password" />
        </p>

        <p>
            <label>Confirm password</label>
            <br>
            <input type="password" name="password1" />
        </p>

        <p>
            <label> Are you a translator?</label>
        <div class="container-switch">
            <label class="switch" for="checkbox">
                <input type="checkbox" id="checkbox" name="checkbox" />
                <div class="slider round"></div>
            </label>
        </div>
        </p>
        <p>
            <button style="margin-top:3%" class="btn btn-primary d-inline-flex flex-row align-items-center">
                Register
            </button>
        </p>
    </form>
</div>

{% endblock %}