{% load static %}
<html>

<head>
  <title>Translate-o-rama</title>
  <!--font-->
  <link href="https://rsms.me/inter/inter-ui.css" rel="stylesheet">

  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
    integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">

  <link rel="stylesheet" href="{% static 'app/css/default.css' %}">
</head>

<body>
  <div class="page-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Translate-o-rama</a>
      {% if user.is_authenticated %}
      <div class="post_job">
        <a href="{% url 'app:post_job' %}">Post a new job</a>
      </div>
      <div class="browse_jobs">
        <a href="{% url 'app:list_jobs' %}">Browse jobs</a>
      </div>
      {% endif %}

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
          <li>
            <a class="nav-link" href="{% url 'accounts:profile' user.id %}">My profile</a>
          </li>
          <li>
            <a class="nav-link" href="{% url 'accounts:dashboard' %}">{{ user.account.name }}</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
          {% elif request.resolver_match.view_name == 'login' %}
          <li class="nav-item active">
            <a class="nav-link-features page-scroll" href="{% url 'app:register' %}">Register</a>
          </li>
          {% elif request.resolver_match.view_name == 'app:register' %}
          <li class="nav-item active">
            <a class="nav-link-features page-scroll" href="{% url 'login' %}">Login</a>
          </li>
          {% else %}
          <li class="nav-item active">
            <a class="nav-link-features page-scroll" href="#features">Features</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </div>

  <div class="content container">
    <div class="row">
      <div class="col-md-12">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.7.3/feather.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  <script src="{% static 'app/javascript/scripts.js' %}"></script>
</body>

<br>
</html>