{% extends 'app/base.html' %}

{% block content %}

<div class="text_to_translate">
    <h3 style="color:#443a84">Text to be translated.</h3>
    <p>{{ job.text }}</p>
</div>

<div class="translate_text_given">
    <h3 style="color:#1de9b6">Submit translation.</h3>
    <form method="post" action="{% url 'app:submit_translation' job_id=job.id %}">
        {% csrf_token %}
        <p class="text_box">
            <textarea name="text" rows="15" cols="50" style="resize: none;"></textarea>
        </p>
        
        <p>
            <br>
            <input class="btn btn-primary d-inline-flex flex-row align-items-center" type="submit" value="Submit translation">
        </p>
    </form>

</div>

{% endblock content %}