{% extends 'app/base.html' %}

{% block content %}

<div class="left_dispute">
    <div class="left_dispute_style">
        <h2>Job title: {{ job.title }}</h2>
        <h3>Job posted by: {{ job.user.account.name }}</h3>
        <h3>Job translated by: {{ job.accepted_bidder.name }}</h3>
        <br>
        <p>Job description: {{ job.description }}</p>
        <p>Source language: {{ job.source_lang }}</p>
        <p>Target language: {{ job.target_lang }}</p>
        <p>Field: {{ job.field }}</p>
        <br>

        <p>Text:</p>
        <p>{{ job.text }}</p>
        <p>Translation:</p>
        <p>{{ job.translation }}</p>
    </div>
</div>

<div class="right_dispute">
    <form method="post" action="{% url 'app:raise_dispute' job.id %}">
        {% csrf_token %}
        <label>Reason for the dispute</label>
        <p class="text_box">
            <textarea name="text" rows="15" cols="50" style="resize: none;"></textarea>
        </p>

        <p>
            <br>
            <input class="btn btn-primary d-inline-flex flex-row align-items-center" type="submit"
                value="Raise dispute">
        </p>
    </form>
</div>

{% endblock content %}