{% extends 'app/base.html' %}
{% block content %}

<!--navigation-->
<section class="smart-scroll">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#features">Features</a>
                </li>
            </ul>
        </div>
        </nav>
    </div>
</section>

<!--hero header-->
<section class="py-7 py-md-0 bg-hero" id="home">
    <div class="container">
        <div class="row vh-md-100">
            <div class="col-md-8 col-sm-10 col-12 mx-auto my-auto text-center">
                <h1 class="heading-black text-capitalize">Translate everything you need with Translate-o-Rama</h1>
                <p class="lead py-3">Translate-o-Rama is a platform that provides multiple translate services used in everywhere.</p>
                <button class="btn btn-primary d-inline-flex flex-row align-items-center">
                    <a href="{% url 'login' %}">Login</a>
                </button>
                <button style="margin-left:50px;" class="btn btn-primary d-inline-flex flex-row align-items-center">
                    <a href="{% url 'app:register' %}">Register</a>
                </button>
            </div>
        </div>
    </div>
</section>

<!-- features section -->
<section class="pt-6 pb-7" id="features">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <h2 class="heading-black">Employ or be employed</h2>
                <p class="text-muted lead">At our website you can choose to be an employer, or post a job with description visible to all of our checked translators.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-10 mx-auto">
                <div class="row feature-boxes">
                    <div class="col-md-6 box">
                        <div class="icon-box box-primary">
                            <div class="icon-box-inner">
                                <span data-feather="edit-3" width="35" height="35"></span>
                            </div>
                        </div>
                        <h5>Post a job. Describe it.</h5>
                        <p class="text-muted">Finding and employee has never been easier using the service we provide.</p>
                    </div>
                    <div class="col-md-6 box">
                        <div class="icon-box box-success">
                            <div class="icon-box-inner">
                                <span data-feather="monitor" width="35" height="35"></span>
                            </div>
                        </div>
                        <h5>Work and earn from home.</h5>
                        <p class="text-muted">Feel free to show your creative side and represent yourself in the best way and win all the bids!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--scroll to top-->
<div class="scroll-top">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
</div>
{% endblock content %}