{% extends 'app/base.html' %}

{% block content %}
<h1 class="job-detail-title" style="color:white";>Job details</h1>
<hr>
<h2 class="job-detail-title">Job title: {{ job.title }}</h1>
<div class="job">
    <p>
        <strong>Job description: </strong>{{ job.description }}
        <br>
        <strong>Source language:</strong> {{ job.source_lang }}
        <br>
        <strong>Target language:</strong> {{ job.target_lang }}
    </p>

    <strong>Job field: </strong>{{ job.field }}
    <br>
    <strong>Job budget: </strong>{{ job.budget }}
    <br>
    <strong>Job status: </strong>{{ job.status }}
    <br>
    <strong>Job owner: </strong>{{ job.owner.name}}
</div>
<div class="col-md-4">
    <h2>Enter your bid:</h2>
    <form action="{% url 'app:bid' job.id %}" method="post" >
      {% csrf_token %}
      <div class="form-group">
        <label for="price">Bid</label>
        <input type="number" class="form-control" id="price" name="price" placeholder="Enter bid">
        {% for error in form.price.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      
    </form>
  </div>

{% endblock %}