{% extends 'app/base.html' %}

{% block content %}

{% for job in job_list %}
<div class="job">
    <h3 style="color:#1de9b6">{{ job.title }}</h3>
    <p>

        <strong>Job description: </strong>{{ job.description }}
        <br>
        <strong>Source language:</strong> {{ job.source_lang }}
        <br>
        <strong>Target language:</strong> {{ job.target_lang }}
    </p>
    <strong>Job field: </strong>{{ job.field }}
    <br>
    <strong>Job budget: </strong>{{ job.budget }}
    <br>
    <strong>Job status: </strong>{{ job.status }}
    <br>
    <br>
    <strong>Posted by: </strong> <a href="{% url 'accounts:profile' job.user.id %}">{{ job.user.account.name }}</a>

    <div>
        {% for bid in job.bid_set.all %}
        <div class='bid'>
            <h2>
                <a href="{% url 'accounts:profile' bid.bidder.id %}">
                    Bidder: {{ bid.bidder.account.name }}
                </a>
            </h2>
            <strong>Price: </strong> {{ bid.price }}
            <p><strong>Bid status: </strong>{% if bid.accepted %}
                Accepted.
                {% else %}
                Not accepted.
                {% endif %}
            </p>
        </div>
        {% empty %}
        <br>
        <p style="color:#1de9b6">No bids on this job yet.</p>
        {% endfor %}
    </div>
</div>
<div>
    {% if not job.id in bidded_job_ids and not job.status.AVAILABLE %}
    <div class="bid_button">
        <button class="btn btn-primary d-inline-flex flex-row align-items-center">
            <a href="{% url 'app:job_detail' job.id %}">Bid on a job</a>
        </button>
    </div>
    {% endif %}
    <div class="message_button">
        <button class="btn btn-primary d-inline-flex flex-row align-items-center">
            <a href="{% url 'app:message' job.id %}">Message user</a>
        </button>
    </div>
    <br>
</div>
{% endfor %}
{% endblock %}