{% extends 'app/base.html' %}

{% block content %}
<div class="container">
    <div class="job">
        <h2>Send a message to {{ job.user.account.name }}</h2>
        <form method="post">
            {% csrf_token %}
            <p>
                <label>Message</label>
                <br>
                <input type="text" name="message_send" />
            </p>

            <p>
                <input class="btn btn-primary" type="submit" value="Send message" />
            </p>
        </form>
    </div>
</div>
{% endblock content %}