{% extends 'app/base.html' %}

{% block content %}
<h1 class="posta_job">Post a new job</h1>
<hr>
<br>
<form method="post">
    {% csrf_token %}
    <div class="container">
        <div class="info_job">
            <p>
                <label>Title</label>
                <br>
                <input type="text" name="title" />
            </p>

            <p>
                <label>Description</label>
                <br>
                <input type="text" name="description" />
            </p>

            <p>
                <label>Source language</label>
                <br>
                <select name="source_lang">
                    <option value="en">English</option>
                    <option value="spa">Spanish</option>
                    <option value="fr">French</option>
                    <option value="de">German</option>
                    <option value="it">Italian</option>
                    <option value="ja">Japanese</option>
                    <option value="hr">Croatian</option>
                </select>
            </p>

            <p>
                <label>Target language</label>
                <br>
                <select name="target_lang">
                    <option value="en">English</option>
                    <option value="spa">Spanish</option>
                    <option value="fr">French</option>
                    <option value="de">German</option>
                    <option value="it">Italian</option>
                    <option value="ja">Japanese</option>
                    <option value="hr">Croatian</option>
                </select>
            </p>

            <p>
                <label>Field</label>
                <br>
                <select name="field">
                    <option value="art">Art</option>
                    <option value="business">Business</option>
                    <option value="computers">Computers</option>
                    <option value="education">Education</option>
                    <option value="engineering">Engineering</option>
                    <option value="finance">Finance</option>
                    <option value="law">Law</option>
                    <option value="literature">Literature</option>
                    <option value="medicine">Medicine</option>
                    <option value="science">Science</option>
                    <option value="social_sciences">Social Sciences</option>
                    <option value="technology">Technology</option>
                </select>
            </p>

            <p>
                <label>Budget</label>
                <br>
                <input type="text" name="budget" />
            </p>

            <p>
                <br>
                <input class="btn btn-primary" type="submit" value="Post job" />
            </p>
        </div>

        <div class="text_translate">
            <p class="text_box">
                <label>Text to translate</label>
                <br>
                <textarea name="text" rows="15" cols="50" style="resize: none;"></textarea>
            </p>

        </div>
    </div>
</form>
{% endblock %}