{% extends 'app/base.html' %}

{% block content %}

<div class="left_review">
    <div class="left_review_style">
        <h2>Job title: {{ job.title }}</h2>
        <h3>Job posted by: {{ job.user.account.name }}</h3>
        <h3>Job translated by: {{ job.accepted_bidder.name }}</h3>
        <br>
        <p>Job description: {{ job.description }}</p>
        <p>Source language: {{ job.source_lang }}</p>
        <p>Target language: {{ job.target_lang }}</p>
        <p>Field: {{ job.field }}</p>
        <br>

        <p>Text:</p>
        <p>{{ job.text }}</p>
        <p>Translation:</p>
        <p>{{ job.translation }}</p>
    </div>
</div>

<div class="right_review">
    <form method="post" action="{% url 'app:post_review' job.id %}">
        {% csrf_token %}
        <label>Rate the translation</label>
        <br>
        {% for i in "12345" %}
        <span class="fa fa-star" id="{{ i }}" onclick="setRating('{{ i }}')"></span>
        {% endfor %}

        <input type="hidden" name="rating" id="rating" value="">
        <p>
            <br>
            <input class="btn btn-primary d-inline-flex flex-row align-items-center" type="submit"
                value="Submit rating">
        </p>
    </form>
</div>


<script>
    var rating = 0;
    function setRating(newRating) {
        if (rating == newRating) {
            // If the same rating is clicked again, deselect it
            rating = 0;
        } else {
            // Otherwise, set the new rating
            rating = newRating;
        }
        document.getElementById("rating").value = rating;
        for (var i = 1; i <= 5; i++) {
            var star = document.getElementById(i);
            if (i <= rating) {
                // Fill the star if the rating is up to this star
                star.classList.add("checked");
            } else {
                // Otherwise, unfill the star
                star.classList.remove("checked");
            }
        }
    }
</script>

{% endblock content %}