{% extends 'app/base.html' %}

{% block content %}

<div class="translated_text">
    <h2 style="color:#00acbf">Text translated by {{ bid.bidder.account.name }}</h2>
    <br>
    <div class="job_translation">
        <p>{{ job.translation }}</p>
    </div>
</div>

{% endblock content %}